!include /etc/mysql/conf.d/*

[mysqld]
port=8083
character_set_server=utf8
collation_server=utf8_general_ci
explicit_defaults_for_timestamp=true
default_authentication_plugin=mysql_native_password
log-bin=mysql-bin
binlog_format=ROW
group_concat_max_len=102400

max_connections = 500
max_user_connections= 400
skip-name-resolve

[mysql]
default-character-set=utf8
[client]
default-character-set=utf8